<section id="partial-content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body ">
                    <div class="p-3 d-flex align-items-center">
                        <i class="fa fa-table bg-info p-3 font-2xl mr-3"></i>
                        <div>
                            <div class="text-value-sm text-info">Item Report</div>
                        </div>

                    </div>
                    @using (Ajax.BeginForm("ItemRecord", new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "partial-content" }))
                    {
                        <div class="mt-2 row col-12">
                            <div class="col-3">
                                <div class="py-3"><b>Select Brand</b></div>
                                <div class="input-group">
                                    <select class="form-control selectpicker" data-style="btn-white border-secondary bg-white">
                                        <option selected>All</option>
                                        <option>Carrs</option>
                                        <option>Midel</option>
                                        <option>Kikkoman</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="py-3"><b>Select Account</b></div>
                                <div class="input-group">
                                    <select class="form-control selectpicker" data-style="btn-white border-secondary bg-white">
                                        <option>All</option>
                                        <option>Walmart</option>
                                        <option>Loblaws</option>
                                        <option>Metro</option>
                                        <option>Sobeys</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="py-3"><b>Select Banner</b></div>
                                <div class="input-group">
                                    <select class="form-control selectpicker" data-style="btn-white border-secondary bg-white">
                                        <option>All</option>
                                        <option>Nofrills</option>
                                        <option>Fortinos</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="py-3"><b>Status</b></div>
                                <div class="input-group">
                                    <!--Add select Multiple-->
                                    <select class="form-control selectpicker" data-style="btn-white border-secondary bg-white">
                                        <option data-content="All"></option>
                                        <option data-content="<i class='fa fa-square text-dark'></i> N/A"></option>
                                        <option data-content="<i class='fa fa-square text-dark'></i> Discussion Required"></option>
                                        <option data-content="<i class='fa fa-square text-secondary'></i> Ready to Present"></option>
                                        <option data-content="<i class='fa fa-square text-warning'></i> Samples Required"></option>
                                        <option data-content="<i class='fa fa-square text-info'></i> VOR Change Initiated"></option>
                                        <option data-content="<i class='fa fa-square text-info'></i> Vor Change Complete"></option>
                                        <option data-content="<i class='fa fa-square text-info'></i> Initial Contact"></option>
                                        <option data-content="<i class='fa fa-square text-info'></i> Initial Meeting"></option>
                                        <option data-content="<i class='fa fa-square text-info'></i> Launch Package Sent"></option>
                                        <option data-content="<i class='fa fa-square text-primary'></i> Pending"></option>
                                        <option data-content="<i class='fa fa-square text-success'></i> Accepted"></option>
                                        <option data-content="<i class='fa fa-square text-danger'></i> Declined By Retailer"></option>
                                        <option data-content="<i class='fa fa-square text-danger'></i> Declined By Client"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <span class="input-group-append">
                                    <button class="btn btn-info btn-block text-white" type="button" onclick="createitemreport()">Search Items</button>
                                </span>
                            </div>

                        </div>
                    }
                    <hr />
                    <div class="table-responsive" style="display:none;" id="div-itemreport">
                        <table class="table table-bordered datatable w-100" id="dataTable-record">
                            <!--Filter by Account-->
                            <!--Filter by Banner-->
                            <!--Filter by Brand-->
                            <thead class="thead-light">
                                <tr>
                                    <th width="50">Item #</th>
                                    <th hidden>BDM</th>
                                    <th hidden>Brand</th>
                                    <th hidden>CDM</th>
                                    <th>Account</th>
                                    <th>Banner</th>
                                    <th>Item Description</th>
                                    <th>Launch Date</th>
                                    <th>Launch Comments</th>
                                    <th>Status</th>
                                    <th>Last Updated</th>
                                    <th hidden>Follow-up Date</th>
                                    <th>Status Comments</th>
                                    <th hidden>Category</th>
                                    <th hidden>POG Review Date</th>
                                    <th hidden>POG Drop Date</th>
                                    <th hidden>Cat. Manager / Contact</th>
                                    <th hidden>Competitive Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="@Url.Action("ItemReport", "Home")">90001</a></td>
                                    <td hidden>Keira Hall</td>
                                    <td hidden>Kikkoman</td>
                                    <td hidden>Cathy Pye</td>
                                    <td>Loblaws</td>
                                    <td>Nofrills</td>
                                    <td>Kikkoman Soy Sauce 255ml</td>
                                    <td>01/01/2020</td>
                                    <td><textarea rows="2" class="form-control">Example Launch Comment</textarea></td>
                                    <td><i class='fa fa-square text-primary'></i> Pending</td>
                                    <td>01/15/2020</td>
                                    <td hidden>-</td>
                                    <td><textarea rows="2" class="form-control">Example Status Comment</textarea></td>
                                    <td hidden>Example Category</td>
                                    <td hidden>02/01/2020</td>
                                    <td hidden>02/02/2020</td>
                                    <td hidden>Terry Huang - Example Contact Info</td>
                                    <td hidden>Example Competitive Info</td>
                                </tr>
                                <tr>
                                    <td><a href="@Url.Action("ItemReport", "Home")">90002</a></td>
                                    <td hidden>Keira Hall</td>
                                    <td hidden>Kikkoman</td>
                                    <td hidden>Cathy Pye</td>
                                    <td>Loblaws</td>
                                    <td>Nofrills</td>
                                    <td>Kikkoman Soy Sauce 500ml</td>
                                    <td>01/01/2020</td>
                                    <td><textarea rows="2" class="form-control">Example Launch Comment</textarea></td>
                                    <td><i class='fa fa-square text-primary'></i> Pending</td>
                                    <td>01/15/2020</td>
                                    <td hidden>-</td>
                                    <td><textarea rows="2" class="form-control">Example Status Comment</textarea></td>
                                    <td hidden>Example Category</td>
                                    <td hidden>02/01/2020</td>
                                    <td hidden>02/02/2020</td>
                                    <td hidden>Terry Huang - Example Contact Info</td>
                                    <td hidden>Example Competitive Info</td>
                                </tr>

                            </tbody>
                        </table>
                        <hr />
                        <button id="btn-itemrecordexcel" class="btn btn-block btn-outline-success" onclick="$(this).parent().find('.buttons-excel').click()">Export To Excel</button>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</section>
@section Scripts
{
    
    
}
